{% extends('base.html.twig') %}

{% block body %}
	Title:<h1>{{ post.title }}</h1>
	Category:<h1>{{ post.category }}</h1>
	Image:
	<hr>
	<img src="{{ '/uploads/' ~  post.image }}" alt="">
{% endblock %}